.blue{color: #00bcd4;}
.white{color: #fafafa;}
.text{color: #727272;}
.bgw{background: #fff;}
.size-25{font-size: 25px;}
.size-20{font-size: 20px;}
.size-50{font-size: 50px;}
.size-18{font-size: 18px;}
.shadow{text-shadow:0px 0px 1px #000;}
.tal{text-align: left;}
.tar{text-align: right;}
.tac{text-align: center;}
.tul{text-decoration: underline;}
.tdn{text-decoration: none;}
.flex{display:flex;}
.bnone{border: none;}
.mtop{margin-top: 50px;}
.mbot{margin-bottom: 50px;}
.mtop1{margin-top: -100;}
.mauto{margin:auto;}
.noval{font-family: noval}
.regular{font-family: regular;}
.fr{float: right;}
.fwb{font-weight: bold;}
.ttu{text-transform: uppercase;}
/*---------Height--------*/

.h0{height: 0%;}
.h10{height: 10%;}
.h20{height: 20%;}
.h30{height: 30%;}
.h40{height: 40%;}
.h50{height: 50%;}
.h60{height: 60%;}
.h70{height: 70%;}
.h80{height: 80%;}
.h90{height: 90%;}
.h100{height: 100%;}
.h85{height: 85%;}


body{
	margin:0px;
	background: #fafafa;
	overflow-x: hidden;
}

a{text-decoration: none;}
li{list-style: none;}


/*---------FONTS--------------*/
@font-face{
	font-family:regular;
	src:url('../fonts/regular.ttf');
	src:url('../fonts/regular.eot');
	src:url('../fonts/regular.svg');
	src:url('../fonts/regular.woff');
	src:url('../fonts/regular.otf');
}

@font-face{
	font-family:noval;
	src:url('../fonts/noval.ttf');
	src:url('../fonts/noval.eot');
	src:url('../fonts/noval.svg');
	src:url('../fonts/noval.woff');
	src:url('../fonts/noval.otf');
}

/*-------Cover------*/


.fixed { position: fixed; top:0;}

#cover{
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	text-transform: uppercase;
	height: 90vh;
	background: url(../images/1.50.jpg) center fixed;
	background-size: cover;
	overflow: hidden;
}

.button{
	margin-top: 30px;
	padding: 15px 20px 15px 50px;
	border: 1px solid #00abc3;
	color: #fff;
	background:url('../images/mail.png') no-repeat 10px center #00bcd4;
	background-size:auto 30px;
	border-radius: 5px;
	box-shadow: 1px 2px 5px #555;
}

.button:hover{
	box-shadow: 1px 4px 5px #555;
}

.resume{
	background:url('../images/eye.png') no-repeat 10px center #00bcd4;
	font-family: regular;
	margin-left: 10px;
}

#text{
	height:auto;
	text-align: center;
	font-family: regular;
	color: #fff;
}

#text>h1{
	font-family: regular;
	font-size: 50px;
}

#text>p{
	font-family: noval;
	font-size: 19px;
	margin-top: -30px;
}

/*----------HEADER----------*/

#header{
	min-height: 80px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: #fff;
	box-shadow: 0px 0px 10px 0px #888;
}

#logo{
	height: 60px;
	width: 200px;
	padding:10px;
	background: url('../images/logo.png') center top no-repeat;
	background-size:200px auto;
}

#menu{
	display:flex;
	justify-content:flex-end;
	padding-right: 10px;
}


.item{
	font-family: regular;
	font-size: 15px;
	padding: 29px;
	color: #333;
	text-align: center;
	border-top: 5px solid #fff;
}

.item:hover{
	color: #000;
	border-top: 5px solid #00bcd4;
}

.active{
	color: #000;
	border-top: 5px solid #00bcd4;
}


/*------------ABOUT----------*/

#about{
	min-height: 300px;
	display: flex;
}


.aboutbox{
	padding: 80px;
	flex:1;
}


h2{
	font-size: 30px;
	text-transform: uppercase;
	color: #00bcd4;
	font-family:regular;
	padding:0px 10px;
}

p{
	font-family: noval;
	font-size: 20px;
	padding: 10px;
	line-height: 30px;
}

p2{
	font-family: noval;
	font-size: 20px;
	padding: 10px;
	word-wrap: all;
	line-height: 40px;
}


#dp{
	height: 300px;
	min-width: 200px;
	max-width: 300px;
	margin: auto;
	background: url("../images/dp3.jpg") no-repeat top center;
	background-size: 400px;
	margin-top: 50px;
	border: 10px solid #fff;
	box-shadow:2px 2px 10px #333;
}

#pi{
	width: 250px;
	display: flex;
	justify-content:left;
	margin-top: -20px;
	margin-left: 30px;
}

h5{
	line-height: 10px;
	font-family: noval;
	font-size: 17px;
	font-weight: bolder;

}

hr{background-color: #ddd; height: 1px; border:none; line-height: 5px;}



#social>ul>a>li{
	height: 50px;
	width:50px;
	list-style: none;
	border-radius:50px;
	margin-left: 5px;
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.4);
	transition: all ease-in-out 200ms;
}

#social>ul{
	margin:20px auto auto -40px;
	display: flex;
}
#social>ul>a>li:hover{
	box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    transform: translate(0px, -10px)
}

#fb{background: url('../images/fb.svg') no-repeat center; background-size:50px auto;}
#tw{background: url('../images/tw.svg') no-repeat center; background-size:50px auto;}
#in{background: url('../images/in.svg') no-repeat center; background-size:50px auto;}
#pin{background: url('../images/pi.svg') no-repeat center; background-size:50px auto;}
#gp{background: url('../images/gp.svg') no-repeat center; background-size:50px auto;}




/*-------------SKILLS---------------------*/


#skills{
	display: flex;
	background: url('../images/skills15.jpg') fixed no-repeat center;
	background-size: cover;
	align-items:center;
	justify-content:space-around;
	padding: 120px 80px 80px 80px;
}

#stext{width: 30%;}

#aboutskill{
	line-height: 35px;
	font-weight: bold;
	padding-left: 20px;
	color:#444;
	font-size: 20px;
}

h3{
	font-size: 40px;
	font-family: regular;
	color:#00bcd4;
	text-decoration: underline;
}

#bgraph{
	max-width: 600px;
	display: flex;
	align-items: flex-end;
	flex:2;/*
	border-bottom: 3px solid #00bcd4;*/
	height: 500px;
	padding-top: 20px;
}
.bar{
	width: 70px;
	margin: 20px;
	margin-bottom: 0px;
	background:#00bcd4;
}

h6{
	text-align: center;
	margin-top: -60px;
	color: #00bcd4;
	font-family: regular;
	font-size: 13px;
}

.circle{
	height: 8px;
	width: 8px;
	margin: -30px auto 0px auto;
	border-radius: 25px;
	background: #00bcd4;
}

.abar{
	height: 40px;
	width: 2px;
	margin: -1px auto 0px auto;
	background: #00bcd4;

}

.age{
	color: #fff;
	font-family: noval;
	font-size: 15px;
	text-align: center;
}



/*------------PORTFOLIO-------------*/

#port{
	width: 100%;
	height: 650px;
	background: #00bcd4;
}

#portmain{
	width: 100%;
	height: 70%;
	background: url('../images/port50.jpg')fixed no-repeat center;
	background-size: cover;
	display: flex;
	justify-content: center;
}

#portsub{
	width: 1000px;
	height: 30%;
	margin: auto;
	align-self: flex-end;
	display: flex;
}

#portmain>h4{
	color: #fff;
	font-size: 45px;
	align-items: center;
	margin-top: -100px;
}

.portcat{
	width: 300px;
	height: 220px;
	background: #fff;
	justify-content: space-around;
	align-items: center;
	margin:-100px auto auto auto;
	overflow: hidden;
}

.portcat>p{
	color: #00bcd4;
	text-align: center;
	text-transform: uppercase;
	font-family: regular;
	margin-top: 174px;
}

.portcat>p2{display: none;}

.portcat>img{
	height: 160px;
	width: 160px;
	margin: 10px auto auto 30px;
}

#proact{
	height: 440px;
	width:300px;
	background:url(../images/portfolio/transblue.png) repeat-x center bottom;
	margin-top: -244px;
	transition: margin-top 200ms;
}

#proact:hover{
	margin-top: -464px;
}

.poster{background: url(../images/portfolio/poster.png) no-repeat center 10px #fff; background-size: 160px auto}
.website{background: url(../images/portfolio/website.png) no-repeat center 10px #fff; background-size: 160px auto}

#proact>p{
	font-size: 20px;
	text-align: center;
	line-height: 30px;
	padding-top: 240px;
	color: #fff
}

#proact>p>a{
	font-family: regular;
	font-size: 17px;
	font-weight: bold;
	color:#fff;
}

#proact>p>a:hover{text-decoration: underline;}


/*-----------footer----------*/

#rights{
	background: #fafafa;
	color: #00BCD4;
	font-weight: bold;
	margin-top: 30px;
	padding-bottom: 0px;
}

#rights>a{
	color: #00bcd4;
	text-decoration: underline;
}

#rights>a:hover{
	color: #000;
}


/*---------CONTACT----------*/

#contactinfo{
	max-width: 1000px;
	margin: auto;
	padding: 20px;
}

#inqury{
	height: auto;
	width: 100%;
	background: #00bcd4;
	margin:-28px auto;
	padding-bottom: 40px;
	
}


#cform{
	margin: auto;
	text-align: center;
}

input{
	padding: 10px;
	font-family: regular;
	border: 0px solid #fff;
	border-bottom: 1px solid #ccc;
	color: #2c8880;
}


input:focus{
	border-bottom: 2px solid #2c8880;
	outline:none;
}

textarea{
	padding: 10px;
	font-family: regular;
	border: 0px solid #fff;
	border-bottom: 1px solid #ccc;
	color: #2c8880;
}

textarea:focus{
	border-bottom: 2px solid #2c8880;
	outline:none;
}


#firstname{
	margin: 40px 0px 0px 3px;
	height: 20px;
	width:521px;
}

#lastname{
	width: 521px;
	height: 20px;
	margin: 40px 0px 0px 3px;
}

#email{
	width: 521px;
	height: 18px;
	margin: 40px 0px 0px 3px;
}

#subject{
	width: 521px;
	height: 18px;
	margin: 40px 0px 0px 3px;
}


#msg{
	width: 521px;
	height: 80px;
	margin: 40px 0px 0px 3px;
	resize:none;
}



/*------------#products---------*/

#products{
	background: #00BCD4;
	padding: 30px 0px;
}
#product{
	height: auto;
	max-width: 1200px;
	margin: auto;
	flex-wrap: wrap;
	justify-content: center;
}

#item{
	height: 250px;
	width: 200px;
	margin: 5px;
	//border: 1px solid #000;
	transition: all .2s ease-in-out;
	overflow:hidden;
}

#item:hover{
	transform: scale(1.1); 
}

#pid{
	margin-top: -13px;
}

#price{
	margin-top: -62px;
}

p>a{
	color:#555;
	font-family: regular;
	text-decoration: underline;
}

p>a:hover{
	color: #00BCD4
}

.itemactive{color: #00bcd4}


#productinfo{
	height: auto;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	padding-top: 20px;
}

#pimage{
	height: 250px;
	width: 250px;
	border: 1px solid #555;
	margin: 20px;
}

#pdis{
	margin-top: -20px;
	padding: 20px;
}

p{
	font-family: noval;
	color: #000;
}

#disprice{
	margin-top: 200px;

}

p>a:hover{color: #555;}
/*-------------MEDIA SCREENS--------------*/

@media screen and (max-width: 1250px) {
		#about{flex-flow: row wrap;}
		.box1	{ flex:1 100%;}
		.box2	{ flex:1;} 
		.box3	{ flex:1;}
		#pi{margin: auto;}
		#skills{flex-flow: row wrap;}
		#stext{flex:1 100%; padding-bottom: 100px; 
}


@media screen and (max-width: 780px){

		#header{
			justify-content:center;
		}

}



@media screen and (max-width: 550px){

		.item{
			font-size: 15px;
			padding: 15px;
			flex:1;
		}
		
		.bar{
			min-width: 40px;
		}	
		#text>h1{
			font-size: 40px;
		}

		#text>p{
			font-size: 15px;
		}

		p{
		font-size: 17px;
		padding: 5px;
		}

		h2{font-size: 25px;}
		h5{font-size: 15px;}
		#pi{width: 220px;}
		.aboutbox{padding: 50px;}
		#porttext{text-align: center;}
		
}



@media screen and (max-width: 857px){

	#bgraph{
		width: auto;
		height: 400px;
	}

	.bar{
		width: 40px;
		margin: 10px;
		padding: 10px;
		margin-bottom: 0px;
		background:#00bcd4;
	}
	
	h6{
		margin-top: -50px;
		font-size: 12px;
	}
	
	.circle{
		height: 6px;
		width: 6px;
	}
	.age{font-size: 15px;}


}

@media screen and (max-width: 497px){

	.h50{display: none;}
	h3{font-size: 30px}
	#stext{margin: -50px;}
	#aboutskill{
		font-size: 16px;
	}
	.bar{margin: 5px;}

		#portmain>h4{
		font-size: 35px;
		margin-top: -120px;
	}
}


@media screen and (max-width: 1000px) {

		#port{height: auto;}

		#portmain{height: 550px;}

		#portsub{
			width: auto;
			height: auto;
			margin-top: -200px;
			align-self: flex-end;
			display: block;
			padding: 30px;
			background: #00bcd4;
		}

		.portcat{
			width: 90%;
			max-height: 60px;
			justify-content: space-around;
			align-items: center;
			margin:10px auto 10px auto;
			overflow: hidden;
			transition: max-height 200ms ease-in-out;
		}

		.portcat:hover{
			max-height: 800px;
		}

		.portcat>p{
			color: #00bcd4;
			text-align: left;
			padding-left: 30px;
			text-transform: uppercase;
			font-family: regular;
			margin-top: 8px;
			padding-top: 10px;
			padding-bottom: -100px;
		}

		.portcat>p2{
			display: block;
			padding: 10px 20px;
			font-size: 14px;
			font-family: noval;
			line-height: 20px;
			margin-top: -20px;
		}
		
		.portcat>p2>a{
			text-align: center;
			color: #00BCD4;
			font-weight: bold;
			text-align: center;
		}
		
		.portcat>p2>a:hover{
			text-decoration: underline;

		}

		#proact{
			display: none;
		}


		.misc{background: url(../images/portfolio/misc.png) no-repeat top 10px right 10px  #fff; background-size: 40px auto;}
		.wallpaper{background: url(../images/portfolio/wallpaper.png) no-repeat top 10px right 10px   #fff; background-size: 40px auto}
		.poster{background: url(../images/portfolio/poster.png) no-repeat top 10px right 10px   #fff; background-size: 40px auto}
		.website{background: url(../images/portfolio/website.png) no-repeat top 10px right 10px   #fff; background-size: 40px auto}

}